@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

#titulo {
    font-family: 'Belanosima', sans-serif;
    font-size: xx-large;
    margin: 0;
}

#navbarNavAltMarkup {
    flex-grow: 0;
}

a.nav-link:hover {
    color: rgb(0, 0, 0)!important;
}

i:hover {
    color: rgb(0, 0, 0) !important;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wiggle:hover {
    display: inline-block;
    animation: wiggle 2.5s infinite;
}


address a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

address a:hover {
    color: rgb(220, 53, 69)
}